assets/cover.png filter=lfs diff=lfs merge=lfs -text
images/repo_link.png filter=lfs diff=lfs merge=lfs -text
images/P.eps filter=lfs diff=lfs merge=lfs -text
images/berger.eps filter=lfs diff=lfs merge=lfs -text
images/detector_structure.eps filter=lfs diff=lfs merge=lfs -text
images/tin-copper.eps filter=lfs diff=lfs merge=lfs -text
images/PZT.png filter=lfs diff=lfs merge=lfs -text
images/input_data2.eps filter=lfs diff=lfs merge=lfs -text
images/pyramid_rotated.png filter=lfs diff=lfs merge=lfs -text
images/S.eps filter=lfs diff=lfs merge=lfs -text
images/Tables.eps filter=lfs diff=lfs merge=lfs -text
images/indentor-source.eps filter=lfs diff=lfs merge=lfs -text
images/results.eps filter=lfs diff=lfs merge=lfs -text
images/crooked.png filter=lfs diff=lfs merge=lfs -text
images/sem_scheme.png filter=lfs diff=lfs merge=lfs -text
images/sphere.png filter=lfs diff=lfs merge=lfs -text
images/indentor.eps filter=lfs diff=lfs merge=lfs -text
images/naive_integration.eps filter=lfs diff=lfs merge=lfs -text
images/portrait.eps filter=lfs diff=lfs merge=lfs -text
images/VA.png filter=lfs diff=lfs merge=lfs -text
images/ff.png filter=lfs diff=lfs merge=lfs -text
report.pdf filter=lfs diff=lfs merge=lfs -text
